<nav class="side">
           <div class="nav_div">목록</div>
            <ul>
                <li>
                    <span class="awrap">
                        <a href="notice.do">공지사항</a>
                    </span>
                </li>
                <li>
                    <span class="awrap">
                        <a href="faq.do">FAQ</a>
                    </span>
                </li>
                <li>
                    <span class="awrap">
                        <a href="loc.do">오시는 길</a>
                    </span>
                </li>
                <li>
                    <span class="awrap">
                        <a href="other.do">Other</a>
                    </span>
                </li>
            </ul>
        </nav>